<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P0C4's Web Site</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather+Sans&family=Montserrat&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">


</head>

<body>
    <div id="top-container">
        <img class="top-cloud" src="static/images/cloud.png" alt="cloud-img">
        <h1>I'm Poca</h1>
        <h2>a security analyst.</h2>
        <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-img">
        <img class="mountain" src="static/images/mountain2.png" alt="mountain-img">
    </div>
    <div id="middle-container">
        <div class="profile">
            <img class="avatar" src="static/images/girl.png" alt="profile-img">
            <h2>Hello.</h2>
            <p class="intro">I am a security analyst with a recent CompTIA Security+ certification and civil
                architecture background. I am looking for
                entry level positions in cyber security. Aiming to apply strong analytical and problem-solving
                experience to
                modern problems in the cyber security domain.</p>
        </div>

        <hr>
        <div class="skills">
            <h2>My Skills.</h2>
            <div class="skill-row">
                <img class="skill-img" src="static/images/platform.png" alt="skills-img">
                <h3>Programming</h3>
                <p>Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna
                    lectus,
                    erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
            </div>
            <div class="skill-row">
                <img class="courses-img" src="static/images/online-course.png" alt="course-img">
                <h3>Security</h3>
                <p>Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis
                    mauris.
                    Curabitur wisi, quisque vel eu, rutrum nam.</p>
            </div>
        </div>
        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <h3>If you love hot noodles as much as I do.</h3>
            <p>Love hot noodles as much as I do? Let's talk about how awesome they are! <br> We can code while we eat
                hot noodles!</p>
            <a class="btn" href="mailto:codehisla@gmail.com">CONTACT ME</a>
        </div>
    </div>


    <div id="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/poca-islamoglu/">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/pocaispoca_">Twitter</a>
        <a class="footer-link" href="https://github.com/p0c4">GitHub</a>
        <p class="copyright">© 2022 p0c4.</p>
    </div>

</body>

</html>